@import 'tailwindcss';

@font-face {
  font-family: 'sofiapro-light';
  src:
    url('../fonts/sofiapro-light-webfont.woff2') format('woff2'),
    url('../fonts/sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'sofiapro-light', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-black);
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

@utility placeholder-block {
  background-color: --alpha(var(--color-slate-200) / 60%);
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@utility placeholder-shimmer {
  position: relative;
  background: linear-gradient(
    to right,
    var(--color-slate-100) 10%,
    var(--color-slate-200) 18%,
    var(--color-slate-100) 33%
  );
  background-size: 800px 104px;
  animation: placeholder-shimmer 1s linear infinite forwards;
}
